[submodule "atlas/V1.5"]
	path = atlas/V1.5
	url = ../atlas.git
	branch = V1.5
[submodule "mips1/V1.3"]
	path = mips1/V1.3
	url = ../mips1.git
	branch = V1.3
[submodule "mips2/V2.3"]
	path = mips2/V2.3
	url = ../mips2.git
	branch = V2.3
[submodule "atlas/V2.5"]
	path = atlas/V2.5
	url = ../atlas.git
	branch = V2.5
[submodule "atlas/V3.5"]
	path = atlas/V3.5
	url = ../atlas.git
	branch = V3.5
[submodule "mu_baby/V1.1"]
	path = mu_baby/V1.1
	url = ../mu_baby.git
	branch = V1.1
[submodule "mu_baby/V2.1"]
	path = mu_baby/V2.1
	url = ../mu_baby.git
	branch = V2.1
[submodule "mu_baby/V3.1"]
	path = mu_baby/V3.1
	url = ../mu_baby.git
	branch = V3.1
[submodule "cdc6600/V1.2"]
	path = cdc6600/V1.2
	url = ../cdc6600.git
	branch = V1.2
[submodule "cdc6600/V2.2"]
	path = cdc6600/V2.2
	url = ../cdc6600.git
	branch = V2.2
[submodule "dashclus/V2.8"]
	path = dashclus/V2.8
	url = git@github.com:HASE-Group/dashclus.git
	branch = V2.8
[submodule "mu5/V4.1"]
	path = mu5/V4.1
	url = git@github.com:HASE-Group/mu5.git
	branch = V4.1
[submodule "cray1/V2.1"]
	path = cray1/V2.1
	url = git@github.com:HASE-Group/cray1.git
	branch = V2.1
